@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --fero-primary: #38B45F;
  --primary: #38B45F;
  --primary-foreground: #ffffff;

  --fero-secondary: #39c473;
  --secondary: #39c473;
  --secondary-foreground: #ffffff;
  --danger: #fd2929;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --fero-primary: #38B45F;
    --primary: #38B45F;
    --primary-foreground: #ffffff;

    --fero-secondary: #39c473;
    --secondary: #39c473;
    --secondary-foreground: #ffffff;
    --danger: #fd2929;
  }
}

body {
  padding: 0;
}

.center-horiz{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.browser-frame{
  background-image: url('/images/browser_frame_b.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
html {
  margin: 0 !important;
}

body {
  height: 100vh;
  font-family: "Merriweather Sans", sans-serif;

  * {
      font-family: "Poppins", sans-serif;
  }
}

input {
  border: none;
  /* border: 1px solid #cacaca; */
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.1rem;
}

select,
select:focus,
input:focus {
  outline: none;
}

select {
  appearance: none !important;
}
.select-container{
  position: relative;
}
.select-container:after {
  content: '';
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('/assets/images/chevron.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

/* Prevent background color from autofill */
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

input:-moz-autofill {
  background-color: white !important;
}

input:autofill {
  background-color: white !important;
}

.input-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0px 10px;
  border: 1px solid #d6d6d6;
}

.app-wrapper {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}